:root {
    /* === CUSTOMISABLE VARIABLES === */
    
    /* --- Colours --- */
    /* Values are: hue, saturation %, lightness %, opacity (between 0 and 1; 0 = transparent, 1 = opaque) */
    --primary-color: hsla(202, 100%, 35%, 0.95);
    --primary-color-light: hsla(202, 100%, 35%, 0.8);
    --primary-color-dark: hsla(202, 100%, 32%, 0.8);
    --secondary-color: hsla(150, 100%, 35%, 0.95);
    --secondary-color-light: hsla(150, 100%, 35%, 0.8);
    --secondary-color-dark: hsla(150, 100%, 32%, 0.8);
    --tertiary-color: hsl(43, 90%, 50%);

    --banner-image: url(images/aerial_beach_small.jpg);
    --slogan-font-size-smallscreen: 27px;
    --logobar-height-smallscreen: 65px;

    --font-size-smallscreen: 18px;

    --footer-height-smallscreen: 15vw;
}

* {
    box-sizing: border-box;
    font-size: 0;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#logo {
    margin: 0 8px;
    max-width: 80vw;
}

#navbar {
    position: absolute;
    top: 0;
    width: 100%;
    height: var(--logobar-height-smallscreen);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#navbar ul {
    display: none;
}

#navbar ul.open {
    position: absolute;
    display: block;
    top: var(--logobar-height-smallscreen);
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    list-style: none;
    line-height: 2.2;
    font-size: var(--font-size-smallscreen);
}

#navbar ul.open li {
    display: block;
    font-size: 1em;
    color: black;
    padding: 0 40px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#navbar ul.open li.selected {
    background-color: var(--primary-color-dark);
    color: white;
}

#navbar ul.open li.selected:hover {
    background-color: var(--primary-color-light);
}

#navbar ul.open li:not(.selected):hover {
    background-color: var(--secondary-color-dark);
    color: white;
}

#logobar {
    width: 100%;
    height: var(--logobar-height-smallscreen);
    display: flex;
    align-items: center;
}

#menubutton {
    margin: 10px;
    width: 23px;
    opacity: 0.9;
    cursor: pointer;
}

#menubutton:hover {
    opacity: 0.7;
}

#banner {
    background-image: var(--banner-image);
    width: 100%;
    height: 90vw;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slogan {
    display: block;
    font-size: var(--slogan-font-size-smallscreen);
    font-style: italic;
    color: white;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

main section {
    font-size: var(--font-size-smallscreen);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}
/* 
main section.dark {
    background-color: var(--primary-color-light);
} */

main h2 {
    font-size: 1.25em;
    width: 100%;
    text-align: center;
    color: var(--secondary-color-dark);
}

main section.dark h2 {
    color: white;
}

main h3 {
    font-size: 1.025em;
    margin: 5px 0;
    font-weight: 400px;
}

main ul {
    list-style: none;
    line-height: 1.75;
    margin: 10px 0;
}

main li {
    font-size: var(--font-size-smallscreen);
    color: black;
    text-align: center;
}

main section.dark p {
    color: white;
}

main section.dark ul {
    background-color: white;
    width: 100%;
    margin-bottom: -20px;
    padding: 10px 0 20px 0;
}

main section.dark li {
    color: var(--secondary-color-dark);
}
/* 
.testimonial {
    background-color: white;
    margin-top: 5px;
    margin-bottom: -20px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 15px;
    font-size: 1em;
}

.client-logo {
    width: 85vw;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.client-logo img {
    padding-top: 10px;
    display: block;
    width: 80%;
    max-width: 260px;
    object-fit: cover;
}

.testimonial q {
    color: black;
    font-size: var(--font-size-smallscreen);
    padding: 20px;
    font-style: italic;
    list-style: 1.5;
} */

main section button {
    font-size: 0.85em;
    padding: 3px 6px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: hsl(0, 0%, 95%);
    margin: 5px 0;
    font-family: 'Noto Serif', serif;
    cursor: pointer;
}

main section.dark button {
    font-size: 0.85em;
    background-color: white;
    border-color: rgba(0, 0, 0, 0.7);
    color: rgba(0, 0, 0, 0.7);
}

main aside {
    background-color: var(--primary-color-dark);
    font-size: var(--font-size-smallscreen);
    text-align: center;
    height: var(--logobar-height-smallscreen);
    display: flex;
    justify-content: center;
}

main aside h2 {
    font-size: 1.25em;
    color: white;
    padding: 10px;
}

main aside button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.1em;
    padding: 8px 8px;
    font-family:'Noto Serif', serif;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

section p {
    font-size: 1em;
    color: black;
    margin: 12px 20px;
    max-width: 30em;
    text-align: center;
    line-height: 1.5;
} 

#headshot {
    display: block;
    width: 100%;
    object-fit: cover;
    max-width: 250px;
    margin: 12px 0;
}

main a {
    font-size: 1em;
    color: var(--primary-color);
}

main a:hover {
    color: var(--secondary-color);
}

footer {
    font-size: var(--font-size-smallscreen);
    min-height: var(--footer-height-smallscreen);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-smallscreen);
    padding: 0 0 20px 0;
    margin-top: 20px;
}

footer h2 {
    font-size: 1em;
    text-align: center;
    width: 100%;
}

footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 0;
    font-size: var(--font-size-smallscreen);
    column-gap: 5px;
}

footer .social img {
    display: inline-block;
    width: 22px;
    cursor: pointer;
}

footer .social img:hover{
    opacity: 0.7;
}

footer p {
    font-size: 0.7em;
    text-align: center;
}

footer .contact {
    font-size: 1em;
    width: 100%;
    background-color: var(--primary-color-dark);
}

footer .contact ul {
    list-style-type: none;
    display: flex;
    font-size: 1em;
    width: 100%;
    height: var(--logobar-height-smallscreen);
    justify-content: space-evenly;
    padding: 8px 4px 0 4px;
    flex-wrap: wrap;
}

footer .contact li {
    font-size: 0.8em;
    color: white;
    text-align: center;
}

footer .contact li a {
    font-size: 1em;
    color: white;
}

footer .contact li a:hover,
main aside button:hover {
    opacity: 0.8;
}
