:root {
    /* === CUSTOMISABLE VARIABLES === */
    
    /* --- Colours --- */
    /* Values are: hue, saturation %, lightness %, opacity (between 0 and 1; 0 = transparent, 1 = opaque) */
    --primary-color-light: hsl(202, 70%, 45%);
    --primary-color: hsl(202, 70%, 41%);
    --primary-color-dark: hsl(202, 100%, 37%);
    --secondary-color-light: hsl(150, 60%, 47%);
    --secondary-color: hsl(150, 100%, 35%);
    --tertiary-color-light: hsl(40, 80%, 62%);
    --tertiary-color: hsl(40, 85%, 55%);
    --tertiary-color-dark: hsl(40, 90%, 52%);
    --charcoal-color: hsl(0, 0%, 25%);

    /* --- Other --- */
    --banner-image-smallscreen: url(images/aerial_beach_small.jpg);
    --banner-image-mediumscreen: url(images/aerial_beach_medium.jpg);
    --banner-image-largescreen: url(images/aerial_beach_large.jpg);

    --slogan-font-size-smallscreen: 24px;
    --slogan-font-size-mediumscreen: 32px;
    --slogan-font-size-largescreen: 36px;

    --logobar-height-smallscreen: 64px;
    --logobar-height-mediumscreen: 80px;
    --logobar-height-largescreen: 100px;

    --ad-height-smallscreen: 42px;
    --ad-height-mediumscreen: 48px;

    --font-size-smallscreen: 18px;
    --font-size-mediumscreen: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    font-size: var(--font-size-smallscreen);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 1px 0 rgba(128, 128, 128, 0.5);
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#logo {
    margin: 0 8px;
    max-width: min(80vw, 300px);
    color: hsla(202, 100%, 20%, 0.6);
}

#navbar {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 20vw;
    height: var(--logobar-height-smallscreen);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#navbar ul {
    display: none;
    list-style: none;
}

#navbar ul.open {
    position: absolute;
    right: 0;
    top: var(--logobar-height-smallscreen);
    background-color: rgba(255, 255, 255, 0.8);
    display: block;
    line-height: var(--ad-height-smallscreen);
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: -1px 1px 1px 1px hsla(0, 0%, 60%, 0.1);
    z-index: 10;
}

#navbar ul.open li a {
    display: block;
    font-size: 1rem;
    color: black;
    padding: 0 40px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    height: var(--ad-height-smallscreen);
}

#navbar ul.open li.selected a {
    background-color: var(--primary-color-dark);
    opacity: 0.8;
    color: white;
}

#navbar ul.open li.selected a:hover {
    background-color: var(--primary-color);
    opacity: 0.8;
}

#navbar ul.open li:not(.selected) a:hover {
    background-color: var(--secondary-color);
    color: white;
}

#navbar ul.open li.selected a:active {
    background-color: var(--primary-color-dark);
    opacity: 0.8;
}

#navbar ul.open li:not(.selected) a:active {
    background-color: var(--secondary-color-light);
    color: white;
}

#logobar {
    width: 100%;
    height: var(--logobar-height-smallscreen);
    display: flex;
    align-items: center;
    box-shadow: 0 1px 1px 0 rgba(128, 128, 128, 0.5);
}

#logobar a {
    display: flex;
}

#menubutton {
    margin: 10px;
    width: 21px;
    opacity: 0.9;
    cursor: pointer;
}

#menubutton:hover {
    opacity: 0.7;
}

#banner {
    background-image: var(--banner-image-smallscreen);
    width: 100%;
    height: 95vw;
    background-position: 80% bottom;
    background-repeat: no-repeat;
    background-size: 160% 160%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

#ad {
    color: white;
    background-color: var(--tertiary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--ad-height-smallscreen);
    font-size: 0.88rem;
    text-shadow: 0 0 1px var(--tertiary-color-dark);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
}

#ad a {
    font-size: 1em;
    color: white;
} 

#ad a:hover {
    opacity: 0.8;
}

#ad a:active {
    opacity: 1;
}

#ad2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 1.5;
    padding: 12px 0;
    /* border-top: 1px solid var(--tertiary-color);
    border-bottom: 1px solid var(--tertiary-color); */
    background-color: hsla(0, 0%, 85%, 0.4);
}

#ad2 p {
    font-size: 0.9rem;
}

#ad2 p a {
    font-size: 1em;
}

#slogan {
    display: block;
    font-size: var(--slogan-font-size-smallscreen);
    font-style: italic;
    color: white;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    font-family: 'Noto Serif', serif;
    margin-top: 5px;
}

.banner-content {
    list-style-type: none;
    line-height: 1.6;
    list-style-position: inside;
    width: 90%;
}

.banner-content li {
    font-size: 1.4rem;
    color: white;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
    font-weight: bold;
}

.button-bar {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: left;
    column-gap: 20px;
}

.button-bar a {
    color: white;
    font-size: 0.8rem;
}

.button-bar a:hover {
    opacity: 0.8;
}

.button-bar a:active {
    opacity: 1;
}

#CTA {
    font-size: 0.85rem;
    color: white;
    background-color: var(--tertiary-color);
    border: 1px solid var(--tertiary-color-dark);
    padding: 0 8px; 
    height: 32px;
    line-height: 5px;
    /* padding-bottom: 1px; */
    font-family: 'Noto Sans', sans-serif;
    cursor: pointer;
    text-shadow: 0 0 1px var(--tertiary-color-dark);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

#CTA:hover {
    background-color: var(--tertiary-color-light);
}

#CTA:active {
    background-color: var(--tertiary-color);
}

main {
    font-size: var(--font-size-smallscreen);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

main section {
    font-size: var(--font-size-smallscreen);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    padding: 20px 2.5%;
}

main section .logo {
    max-height: 42px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.extra-content {
    padding-top: 0;
}

.extra-content p {
    margin-bottom: 0;
}

.extra-content h2 {
    width: 100%;
    max-width: 25em;
    text-align: left; 
    margin-bottom: 0;
    margin-top: 8px;
}

.extra-content h3 {
    width: 100%;
    max-width: 25em;
    text-align: left; 
    margin-bottom: 0;
    margin-top: 8px;
    color: var(--secondary-color);
}

.extra-content .bullet-list {
    margin-bottom: 4px;
    margin-top: 8px;
    margin-left: 6px;
}

.extra-content aside {
    width: 100%;
    max-width: 25rem;
    margin-top: 15px;
}

.extra-content aside h2 {
    color: var(--primary-color);
}

.extra-content aside button {
    margin-top: 20px;
}

section p {
    font-size: 1rem;
    color: black;
    margin: 2px 0 12px 0;
    max-width: 25rem;
    text-align: left;
    line-height: 1.5;
    width: 100%;
} 

section p.centered { 
    text-align: center;
}

section blockquote {
    position: relative;
    width: 100%;
    max-width: 25rem;
    margin: 4px 0;
}

section blockquote p {
    font-size: 0.9rem;
    padding-left: 2.5%;
}

section blockquote cite {
    display: inline-block;
    width: 100%;
    font-style: normal;
    text-align: left;
    margin-top: 12px;
}

section blockquote cite p {
    margin: 0;
    font-size: 1rem;
    padding: 0;
}

section blockquote cite em {
    margin: 0;
}

section .links {
    width: 100%;
    max-width: 25rem;
    margin-top: 20px;
    margin-bottom: 35px;
}

section .links p {
    margin: 0;
    font-size: 0.9rem;
}

section .links p a {
    font-size: 1em;
}

section form {
    max-width: 450px;
    width: 100%;
}

section form label {
    font-size: 0.9rem;
}

section form input,
section form textarea {
    margin-bottom: 15px;
    width: 100%;
    font-size: 0.9rem;
    padding: 6px 4px 4px 4px;
    resize: vertical;
}

section form textarea {
    height: 140px;
}

section form input[type=submit] {
    margin-top: 5px;
    border-radius: 0;
    background-color: var(--tertiary-color);
    color: white;
    border: 1px solid var(--tertiary-color);
    padding: 7px 0 4px 0;
    cursor: pointer;
    text-shadow: 0 0 4px var(--tertiary-color-dark);
}

section form input[type=submit]:hover {
    opacity: 0.9;
}

section form input[type=submit]:active {
    opacity: 1;
}

section button {
    background-color: var(--tertiary-color);
    color: white;
    margin-left: 50%;
    transform: translateX(-50%);
    border: 1px solid var(--tertiary-color);
    height: 37px;
    line-height: 37px;
    padding: 0 10px;
    font-size: 0.95rem;
    cursor: pointer; 
    /* box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1); */
}

section button:hover {
    background-color: var(--tertiary-color-light);
}

section button:active {
    background-color: var(--tertiary-color);
}

br {
    display: none;
}

#modal {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
}

#confirmation {
    width: 90%;
    background-color: white;
    padding: 20px 10px; 
    text-align: center;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.6);
}

#confirmation button {
    height: 27px;
    line-height: 27px;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    margin: 0;
    padding: 0 8px;
    transform: none;
    font-size: 0.85rem;
}

#confirmation button:hover {
    opacity: 0.8;
}

#confirmation button:active {
    opacity: 1;
}

main h1 {
    font-size: 0.95rem;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    color: var(--secondary-color-light);
    margin-bottom: 8px;
}

main h2 {
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 10px;
    margin-top: 10px;
    color: var(--charcoal-color);
}

main h3 {
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: var(--primary-color);
}

main h4 {
    font-size: 1rem;
    text-align: center;
    line-height: 1.5;
    color: var(--charcoal-color);
    margin: 0 20px 20px 20px;
    font-weight: normal;
    font-style: italic;
}

main ul {
    list-style: none;
    line-height: 1.75;
    margin-bottom: 10px;
    max-width: 25rem;
}

main ol {
    list-style: none;
    max-width: 25rem;
}

main li {
    /* font-size: var(--font-size-smallscreen); */
    color: black;
}

main li p {
    font-size: 0.95rem;
}

main ol li {
    margin-top: 20px;
}

.link-list {
    width: 100%;
}

.link-list h2 {
    line-height: 1.3;
}

.link-list h2 a {
    color: var(--primary-color);
}

.link-list ul {
    list-style-type: disc;
    list-style-position: inside;
    margin: 5px 5%;
    margin-bottom: 15px;
}

.link-list li {
    font-size: 0.95rem;
    margin-bottom: 20px;
}

.link-list li:last-of-type {
    margin-bottom: 0;
}

.link-list ul li {
    font-size: 0.95rem;
    margin-bottom: 0;
}

.link-list ul li a {
    font-size: 1em;
}

.link-list .special-list {
    list-style-type: none;
    margin-top: 0;
}

.link-list .special-list a {
    font-size: 0.95rem;
}

.bullet-list {
    list-style-type: square;
    list-style-position: outside;
    width: 100%;
    max-width: 25rem;
    line-height: 1.5;
}

.bullet-list.large {
    margin-top: 8px;
    margin-bottom: 14px;
}

.bullet-list li h3 {
    line-height: 1.3;
    margin-bottom: 0;
}

.bullet-list li {
    padding-left: 2px;
    margin-left: 5%;
}

.testimonials {
    padding-top: 0px;
}

.testimonials ul {
    margin-top: 10px;
    list-style-type: none;
}

.testimonials li {
    width: 100%;
    max-width: 350px;
    height: 84px;
    margin-bottom: 20px;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.testimonials li a {
    padding: 18px 25px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.testimonials li:hover {
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.25);
}

.testimonials img {
    max-width: 350px;
    width: 100%;
    object-fit: scale-down;
}

.orange {
    color: var(--tertiary-color);
}

.green {
    color: var(--secondary-color-light);
}

.small * {
    font-size: 0.95rem;
    line-height: 1.5;
}

strong {
    font-size: 1em;
    font-weight: bold;
}

#headshot {
    display: block;
    width: 100%;
    object-fit: cover;
    max-width: 200px;
    margin-top: 12px;
    margin-bottom: 2px;
}

#headshot.large {
    max-width: 240px;
}

main a {
    font-size: 1rem;
    color: var(--primary-color-dark);
}

main a:hover {
    opacity: 0.7;
}

main a:active {
    opacity: 1;
}

footer {
    font-size: var(--font-size-smallscreen);
    min-height: var(--footer-height-smallscreen);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-smallscreen);
    padding: 0 0 8px 0;
    margin-top: 20px;
}

footer h4 {
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
    font-weight: normal;
    margin-top: 6px;
}

footer #ad {
    background-color: hsla(281, 5%, 20%, 0.5);
    text-shadow: none;
}

.credentials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-size: var(--font-size-smallscreen);
    width: 100%;
    margin: 10px 0;
}

.credentials img {
    display: inline-block;
    height: 100px;
    cursor: pointer;
    object-fit: contain;
}

footer .social {
    padding: 6px 0;
}

footer .social img:hover{
    opacity: 0.7;
}

footer .social img {
    width: 22px;
    cursor: pointer;
}

#xero {
    padding: 18px 6px 18px 6px;
}

footer p {
    margin-top: 12px;
    font-size: 0.7rem;
    text-align: center;
}

footer .contact {
    font-size: 1rem;
    width: 100%;
    background-color: var(--primary-color-dark);
    height: calc(var(--logobar-height-smallscreen) * 1.8);
    padding: 0 5px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
}

footer .contact ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: space-evenly;
    padding-top: 8px;
    row-gap: 5px;
}

footer .contact li {
    font-size: 0.95rem;
    color: white;
    text-align: center;
}

footer .contact li a {
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
}

footer .contact li a:hover {
    opacity: 0.8;
}

footer .contact li a:active {
    opacity: 1;
}

.animate {
    animation: zoom 0.4s;
}

@keyframes zoom {
    from {transform: scale(0);}
    to {transform: scale(1);}
}

@media screen and (min-width: 520px) {
    * {
        font-size: var(--font-size-mediumscreen);
    }
    #menubutton {
        margin: 0 15px;
    }
    #slogan {
        font-size: var(--slogan-font-size-mediumscreen);
    }
    .banner-content {
        line-height: 1.5;
    }
    .banner-content li {
        font-size: 1.5rem;
    }
    main section {
        padding: 20px 5%;
    }
    main section p {
        line-height: 1.5;
    }
    main section h1 {
        margin: 10px 0;
    }
    main section .logo {
        margin-top: 20px;
        margin-bottom: 35px;
        max-height: 55px;
    }
    section button {
        font-size: 0.9rem;
    }
    section blockquote p {
        padding-left: 5%;
    }
    section form input[type=submit] {
        height: 36px;
    }
    section form textarea {
        height: 260px;
    }
    br {
        display: initial;
    }
    #headshot {
        max-width: 220px;
    }
    .button-bar {
        column-gap: 30px;
        width: 78%;
    }
    .button-bar a {
        font-size: 0.85rem;
    }
    #CTA {
        height: 38px;
        font-size: 0.9rem;
    }
    .credentials img {
        height: 115px;
    }
    .bullet-list.large {
        margin-top: 18px;
        margin-bottom: 24px;
    }
}

@media screen and (min-width: 600px) {
    #banner {
        height: 480px;
        background-image: var(--banner-image-mediumscreen);
    }
    .banner-content li {
        font-size: 1.63rem;
    }
    #slogan {
        font-size: var(--slogan-font-size-largescreen);
        margin-top: 10px;
    }
    .button-bar a {
        font-size: 0.9rem;
    }
    #logobar {
        height: var(--logobar-height-mediumscreen);
    }
    #ad {
        height: var(--ad-height-mediumscreen);
        font-size: 0.9rem;
    }
    #navbar {
        height: var(--logobar-height-mediumscreen);
    }
    #navbar ul.open {
        top: var(--logobar-height-mediumscreen);
        width: 180px;
    }
    #headshot {
        max-width: 240px;
    }
    #headshot.large {
        max-width: 260px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    main h4 {
        margin-bottom: 25px;
    }
    .testimonials li {
        max-width: 380px;
        height: 92px;
    }
    section form input[type=submit] {
        height: 38px;
    }
}

@media screen and (min-width: 1280px) {
    /* * {
        font-size: var(--font-size-mediumscreen);
    } */
    body {
        max-width: 1600px;
    }
    #logo {
        margin-left: 60px;
        max-width: 325px;
    }
    #logobar {
        height: var(--logobar-height-largescreen);
    }
    #navbar {
        height: var(--logobar-height-largescreen);
        max-width: none;
        width: auto;
        left: 400px;
        display: flex;
        justify-content: right;
        align-items: center;
        padding-right: 62px;
    }
    #navbar ul {
        display: flex;
        column-gap: 28px;
    }
    #navbar li {
        color: black;
        padding-top: 10px;
        padding-left: 2px;
        padding-right: 2px;
        /* transition-delay: 0.05s; */
    }
    #navbar li.selected {
        border-bottom: 2px solid black;
        color: black;
    }
    #navbar li a {
        font-size: 0.8rem;
        opacity: 0.9;
        text-transform: uppercase;
        text-decoration: none;
        color: black;
    }
    #navbar li:hover {
        border-bottom: 2px solid var(--secondary-color);;
        color: black;
    }
    #navbar li:hover a {
        color: var(--secondary-color);
        /* transition-delay: 0.05s; */
    } 
    #navbar li:hover a:visited {
        color: var(--secondary-color);
    }
    #navbar li a:visited {
        color: black;
    }
    #menubutton {
        display: none;
    }
    #banner {
        background-image: var(--banner-image-largescreen);
        height: 340px;
        /* background-position: bottom 50%; */
        background-size: 180%;
        align-items: flex-start;
        position: relative;
        justify-content: center;
    }
    #slogan {
        font-size: var(--slogan-font-size-largescreen);
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        transform: translateY(-50%);
        margin: 0;
    }
    .banner-content {
        margin-left: 60px;
        line-height: 1.8;
        margin-bottom: 30px;
    }
    .banner-content li {
        font-size: 1.4rem;
    }
    .button-bar {
        margin-left: 70px;
        margin-bottom: 20px;
        column-gap: 40px;
    }
    #CTA,
    .button-bar a {
        font-size: 0.9rem;
    }
    #CTA {
        height: 39px;
        padding: 0 12px;
    }
    main section p {
        max-width: 35rem;
        line-height: 1.7;
    }
    main section h1 {
        margin-top: 20px;
    }
    section blockquote {
        max-width: 35rem;
        margin-top: 15px;
    }
    section blockquote p {
        font-size: 0.95rem;
    }
    section blockquote cite {
        margin-top: 20px;
    }
    section .links {
        max-width: 35rem;
        margin-bottom: 50px;
    }
    section .links p {
        font-size: 0.95rem;
    }
    main ol {
        max-width: 35rem;
    }
    main li p {
        font-size: 1rem;
        /* margin-left: 25px;
        max-width: calc(35rem - 25px); */
    }
    .bullet-list {
        max-width: 35rem;
    }
    .link-list {
        max-width: 35rem;
    }
    .link-list ul li {
        font-size: 0.95rem;
    }
    .link-list li .special-list li {
        font-size: 1rem;
    }
    .testimonials ul {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        justify-content: center;
        max-width: 35rem;
    }
    .testimonials li {
        max-width: 340px;
    }
    .testimonials li a:hover {
        opacity: 0.9;
    }
    .testimonials li:last-of-type {
       margin-right: auto;
    }
    .extra-content h2 {
        color: var(--primary-color-light);
        width: 100%;
        text-align: left;
        margin-bottom: 0;
    }
    .extra-content h3 {
        width: 100%;
        max-width: 35rem;
    }
    .extra-content .bullet-list {
        max-width: 35rem;
        margin-bottom: 0;
        margin-left: 10px;
    }
    .extra-content aside {
        width: 100%;
        max-width: 35rem;
        margin-top: 25px;
        margin-bottom: 10px;
    }
    .extra-content aside h2 {
        margin-top: 12px;
    }
    .extra-content aside button {
        display: block;
        font-size: 0.95rem;
        margin-top: 30px;
        height: 39px;
        padding: 0 12px;  
        padding-top: 2px;  
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    }
    #services-button {
        display: none;
    }
    #form {
        max-width: 30rem;
    }
    #form textarea {
        height: 300px;
    }
    footer {
        margin-top: 40px;
        padding-bottom: 10px;
    }
    footer #ad {
        display: none;
    }
    footer .contact {
        height: 165px;
        padding-top: 10px;
    }
    footer h4 {
        font-size: 0.85rem;
        margin-top: 10px;
    }
    footer p {
        font-size: 0.8rem;
    }
    footer .social {
        padding: 8px 0;
    }
    footer .social img {
        width: 24px;
    }
}
