:root {
    /* === CUSTOMISABLE VARIABLES === */
    
    /* --- Colours --- */
    /* Values are: hue, saturation %, lightness %, opacity (between 0 and 1; 0 = transparent, 1 = opaque) */
    --primary-color-light: hsl(202, 70%, 45%);
    --primary-color: hsl(202, 70%, 40%);
    --primary-color-dark: hsl(202, 100%, 35%);
    --secondary-color-light: hsl(150, 60%, 48%);
    --secondary-color: hsl(150, 100%, 35%);
    --tertiary-color-light: hsl(40, 85%, 55%);
    --tertiary-color: hsl(40, 90%, 50%);
    --tertiary-color-dark: hsl(40, 95%, 47%);
    --charcoal-color: hsl(0, 0%, 25%);

    /* --- Other --- */
    --banner-image: url(images/aerial_beach_small.jpg);
    --slogan-font-size-smallscreen: 25px;
    --logobar-height-smallscreen: 70px;
    --ad-height: 42px;

    --font-size-smallscreen: 18px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    font-size: var(--font-size-smallscreen);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#logo {
    margin: 0 8px;
    max-width: 80vw;
    color: hsla(202, 100%, 20%, 0.6)
}

#navbar {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 20vw;
    height: var(--logobar-height-smallscreen);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#navbar ul {
    display: none;
}

#navbar ul.open {
    position: absolute;
    display: block;
    top: var(--logobar-height-smallscreen);
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    list-style: none;
    line-height: var(--ad-height);
}

#navbar.opaque ul.open {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: -1px 1px 1px 1px hsla(0, 0%, 40%, 0.1);
}
/* 
#navbar.opaque ul.open li a {
    color: white;
} */

#navbar ul.open li a {
    display: block;
    font-size: 1rem;
    color: black;
    padding: 0 40px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    height: var(--ad-height);
}

#navbar ul.open li.selected a {
    background-color: var(--primary-color-dark);
    opacity: 0.8;
    color: white;
}

#navbar ul.open li.selected a:hover {
    background-color: var(--primary-color);
    opacity: 0.8;
}

#navbar ul.open li:not(.selected) a:hover {
    background-color: var(--secondary-color);
    color: white;
}

#navbar ul.open li.selected a:active {
    background-color: var(--primary-color-dark);
    opacity: 0.8;
}

#navbar ul.open li:not(.selected) a:active {
    background-color: var(--secondary-color-light);
    color: white;
}

#logobar {
    width: 100%;
    height: var(--logobar-height-smallscreen);
    display: flex;
    align-items: center;
    box-shadow: 0 0 2px 0 rgba(128, 128, 128, 0.5);
}

#menubutton {
    margin: 10px;
    width: 21px;
    opacity: 0.9;
    cursor: pointer;
}

#menubutton:hover {
    opacity: 0.7;
}

#banner {
    background-image: var(--banner-image);
    width: 100%;
    height: 90vw;
    background-position: 80% bottom;
    background-repeat: no-repeat;
    background-size: 160% 160%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5% 0;
}

#ad {
    color: white;
    background-color: var(--tertiary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--ad-height);
    font-size: 0.88em;
    text-shadow: 0 0 1px var(--tertiary-color-dark);
}

#ad a {
    font-size: 1em;
    color: white;
} 

#ad a:hover {
    opacity: 0.8;
}

#ad a:active {
    opacity: 1;
}

#slogan {
    display: block;
    font-size: var(--slogan-font-size-smallscreen);
    font-style: italic;
    color: white;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    font-family: 'Noto Serif', serif;
    margin-top: 5px;
}

.banner-content {
    list-style-type: none;
    line-height: 1.5;
    list-style-position: inside;
    width: 85%;
}

.banner-content li {
    font-size: 1.4em;
    color: white;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    font-weight: bold;
}

.button-bar {
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: left;
    column-gap: 20px;
}

.button-bar a {
    color: white;
    font-size: 0.8em;
}

.button-bar a:hover {
    opacity: 0.8;
}

.button-bar a:active {
    opacity: 1;
}

#CTA {
    font-size: 0.8em;
    color: white;
    background-color: var(--tertiary-color);
    border: 1px solid var(--tertiary-color-dark);
    padding: 0 8px; 
    height: 32px;
    line-height: 5px;
    font-family: 'Noto Sans', sans-serif;
    cursor: pointer;
    text-shadow: 0 0 1px var(--tertiary-color-dark);
    /* box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2); */
}

#CTA:hover {
    background-color: var(--tertiary-color-dark);
}

#CTA:active {
    background-color: var(--tertiary-color);
}

main {
    font-size: var(--font-size-smallscreen);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

main section {
    font-size: var(--font-size-smallscreen);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    padding: 20px 20px;
}

main h1 {
    font-size: 0.95em;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    color: var(--secondary-color-light);
    margin-bottom: 8px;
}

main h2 {
    display: inline-block;
    font-size: 1em;
    margin-bottom: 10px;
    margin-top: 10px;
    color: var(--charcoal-color);
}

main h3 {
    display: inline-block;
    font-size: 1em;
    margin-bottom: 5px;
    color: var(--primary-color-light);
}

main em {
    font-size: 1em;
    text-align: center;
    line-height: 1.5;
    color: var(--charcoal-color);
    margin: 0 20px 20px 20px;
}

main ul {
    list-style: none;
    line-height: 1.75;
    margin-bottom: 10px;
}

main ol {
    list-style: none;
}

main li {
    font-size: var(--font-size-smallscreen);
    color: black;
}

main ol li {
    margin-top: 20px;
}

.link-list h2 {
    line-height: 1.3;
}

/* .link-list h2 a {
    color: var(--primary-color-light);
} */

.link-list ul {
    list-style-type: disc;
    list-style-position: inside;
    margin: 5px 5%;
}

.link-list li {
    font-size: 0.95rem;
    margin-bottom: 20px;
}

.link-list li:last-of-type {
    margin-bottom: 0;
}

.link-list ul li {
    font-size: 0.9rem;
    margin-bottom: 0;
}

.link-list ul li a {
    font-size: 0.9rem;
}

.link-list .special-list {
    list-style-type: none;
    margin-top: 0;
}

.link-list .special-list a {
    font-size: 0.95rem;
}

.bullet-list {
    list-style-type: square;
    list-style-position: outside;
}

.bullet-list li h3 {
    line-height: 1.3;
    margin-bottom: 0;
}

.bullet-list li {
    padding-left: 5px;
    margin-left: 5%;
}

.bullet-list li p {
    line-height: 1.5;
    /* font-size: 0.9rem; */
    /* margin-left: 5%; */
}

.orange {
    color: var(--tertiary-color);
}

.green {
    color: var(--secondary-color-light);
}

section button {
    background-color: var(--tertiary-color);
    color: white;
    margin-left: 50%;
    transform: translateX(-50%);
    border: 1px solid var(--tertiary-color-dark);
    height: 37px;
    line-height: 37px;
    padding: 0 10px;
    font-size: 0.95rem;
    cursor: pointer; 
}

section button:hover {
    background-color: var(--tertiary-color-dark);
}

section button:active {
    background-color: var(--tertiary-color);
}

section p {
    font-size: 1em;
    color: black;
    margin: 2px 0 12px 0;
    max-width: 30em;
    text-align: left;
    line-height: 1.5;
    width: 100%;
} 

section p.centered { 
    text-align: center;
}

strong {
    font-size: 1em;
    font-weight: bold;
}

#headshot {
    display: block;
    width: 100%;
    object-fit: cover;
    max-width: 200px;
    margin-top: 12px;
    margin-bottom: 2px;
}

#headshot.large {
    max-width: 240px;
}

main a {
    font-size: 1em;
    color: var(--primary-color-dark);
}

main a:hover {
    opacity: 0.7;
}

main a:active {
    opacity: 1;
}

footer {
    font-size: var(--font-size-smallscreen);
    min-height: var(--footer-height-smallscreen);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-smallscreen);
    padding: 0 0 8px 0;
    margin-top: 20px;
}

footer h4 {
    font-size: 0.8em;
    text-align: center;
    width: 100%;
    font-weight: normal;
    margin-top: 6px;
}

.credentials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-size: var(--font-size-smallscreen);
    width: 100%;
    margin: 10px 0;
}

.credentials img {
    display: inline-block;
    height: 100px;
    cursor: pointer;
    object-fit: contain;
}

footer .social {
    padding: 6px 0;
}

footer .social img:hover{
    opacity: 0.7;
}

footer .social img {
    width: 22px;
    cursor: pointer;
}

#xero {
    padding: 18px 6px 18px 6px;
}

footer p {
    margin-top: 12px;
    font-size: 0.7em;
    text-align: center;
}

footer .contact {
    font-size: 1em;
    width: 100%;
    background-color: var(--primary-color);
    height: calc(var(--logobar-height-smallscreen) * 1.7);
    padding: 0 5px;
}

footer .contact ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: space-evenly;
    padding-top: 8px;
    row-gap: 5px;
}

footer .contact li {
    font-size: 0.95em;
    color: white;
    text-align: center;
}

footer .contact li a {
    font-size: 0.9em;
    color: white;
    text-decoration: none;
}

footer .contact li a:hover {
    opacity: 0.8;
}

footer .contact li a:active {
    opacity: 1;
}
